// Breakpoints
$media-xxl: 1399.98px;
$media-xl: 1199.98px;
$media-lg: 1024.98px;
$media-lg-sm: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 479.98px;
// Colors
$color-black-alpha: #000;
$color-black-beta: #1f1f1f;
$color-black-gamma: #3f3f3f;
$color-white-alpha: #fff;
$color-gray-alpha: #828282;
$color-red-alpha: #f01b0d;
// Fonts
$font-primary: 'Roboto Flex', sans-serif;
