footer.footer
  .container
    .footer__inner
      .footer__top
        .logo
          img(src="assets/img/svg/logo-light.svg", width="88" height="20" alt="" loading="lazy")
        ul.menu-list.footer__nav.list-reset
          li
            a(href="#") О проекте
          li
            a(href="#") Обратная связь
        .footer__ad
          p Реклама:
          a(href="mailto:ads@sporthub.news") ads@sporthub.news
      .footer__social
        ul.social-links.list-reset
          li
            a(href="#" aria-label="vk" target="_blank")
              img(src="assets/img/svg/vk-red.svg", width="48" height="48" alt="" loading="lazy")
          li
            a(href="#" aria-label="facebook" target="_blank")
              img(src="assets/img/svg/facebook-red.svg", width="48" height="48" alt="" loading="lazy")
          li
            a(href="#" aria-label="instagram" target="_blank")
              img(src="assets/img/svg/instagram-red.svg", width="48" height="48" alt="" loading="lazy")
          li
            a(href="#" aria-label="youtube" target="_blank")
              img(src="assets/img/svg/youtube-red.svg", width="48" height="48" alt="" loading="lazy")
          li
            a(href="#" aria-label="telegram" target="_blank")
              img(src="assets/img/svg/telegram-red.svg", width="48" height="48" alt="" loading="lazy")
          li
            a(href="#" aria-label="tiktok" target="_blank")
              img(src="assets/img/svg/tiktok-red.svg", width="48" height="48" alt="" loading="lazy")
          li
            a(href="#" aria-label="twitter" target="_blank")
              img(src="assets/img/svg/twitter-red.svg", width="48" height="48" alt="" loading="lazy")
      .footer__bot
        p.footer__copy &copy; 2022 «Спортхаб»
        .footer__devby
          a(href="#" target="_blank" aria-label="pras")
            img(src="assets/img/svg/pras.svg", width="73" height="17" alt="" loading="lazy")
          p Разработка сайта — компания PRAS
