header#header.header
  .container
    .header__inner
      .header__left
        .logo
          img(src="assets/img/svg/logo.svg", width="91" height="19" alt="")
      .header__right
        nav.header__menu
          ul.header__menu-list.list-reset
            li
              a(href="#") Review
            li
              a(href="#") Экстрим
            li
              a(href="#") Легенды
            li
              a(href="#") зож и туризм
            li
              a(href="#") Позірк
            li
              a(href="#") Треш
        button.burger-button(aria-label="меню")
          span
          span
