.intro {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-bottom: 40px;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 58rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 6.25%,
      rgba(0, 0, 0, 0) 21.88%
    );
  }

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 46.88%,
      rgba(0, 0, 0, 0.4) 100%
    );
  }

  @include media-tablet-sm {
    margin-bottom: 30px;
  }
}

.intro__inner {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__content {
  padding: 24.9rem 0 19.4rem;

  @include media-tablet-md {
    padding-bottom: 117px;
  }

  @include media-tablet-sm {
    padding: 120px 0 50px;
  }

  @include media-phone-lg {
    padding: 92px 0 20px;
  }
}

.intro__descrip {
  max-width: 64rem;
  width: 100%;

  @include media-tablet-md {
    max-width: 450px;
  }

  @include media-phone-lg {
    max-width: unset;
  }
}

.intro__link {
  font-size: 4rem;

  @include media-tablet-sm {
    font-size: 25px;
  }

  @include media-phone-lg {
    font-size: 20px;
  }
}

.intro__nav {
  position: relative;
  z-index: 1;
  background: $color-red-alpha;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      #f01b0d;
  }

  @include media-tablet-md {
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    scrollbar-width: none;
  }
}

.intro__nav-list {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0;

  @include media-tablet-md {
    font-size: 16px;
    overflow-x: auto;
    justify-content: unset;

    margin: 0 -15px;
    padding: 15px;
  }

  li {
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 5rem;
    }
  }

  a {
    color: $color-white-alpha;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: border-color 0.1s linear;

    &:hover {
      border-color: $color-white-alpha;
    }
  }
}
