.input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  padding-bottom: 12px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.02em;

  &:focus {
    border-color: $color-white-alpha;
  }
}
