.burger {
  display: none;
  position: fixed;
  z-index: 9;
  padding: 22px 45px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #f01b0d;

  &.active {
    display: block;
  }

  @include media-tablet-sm {
    padding: 15px;
  }
}

.burger__container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.burger__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8.8rem;

  @include media-tablet-sm {
    margin-bottom: 50px;
  }
}

.burger__close {
  background: url('../img/svg/close.svg');
  width: 40px;
  height: 40px;
}

.burger__content {
  max-width: 540px;
  margin: 0 auto 7.8rem;

  @include media-tablet-sm {
    max-width: unset;
    margin: 0 auto 50px;
  }
}

.burger__bot {
  display: flex;
  justify-content: space-between;

  @include media-tablet-sm {
    flex-direction: column;
    gap: 20px;
  }
}

.burger__bot-title {
  font-weight: 600;
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 14px;
}

.burger__ad {
  a {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $color-white-alpha;

    &:hover {
      text-decoration: underline;
    }
  }
}

.burger__newsletter {
  max-width: 52rem;
  width: 100%;

  @include media-tablet-sm {
    max-width: unset;
  }
}

.burger__form {
  display: flex;
  align-items: center;
  gap: 20px;

  @include media-phone-sm {
    flex-direction: column;
  }
}

.burger__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;

  @include media-tablet-sm {
    margin-bottom: 50px;
  }

  @include media-phone-sm {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.burger__menu-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  @include media-tablet-lg {
    gap: 15px;
  }

  @include media-phone-sm {
    flex: 1 1 100%;
    align-items: center;
  }

  &--secondary.menu-list {
    gap: 14px;

    a {
      font-size: 14px;
      text-transform: none;
    }
  }

  li {
    width: fit-content;
  }

  a {
    font-weight: 500;
    font-size: 16px;
  }
}

.burger__social-links {
  @include media-phone-lg {
    margin: 0 auto;
  }
}
