.button {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white-alpha;
  background: $color-red-alpha;
  padding: 13px 52px;
  box-shadow: 0px 1px 8px rgba(3, 0, 172, 0.1);
  border-radius: 100px;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: lighten($color-red-alpha, 8);
  }
}
