.footer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #f01b0d;

  padding: 32px 0 25px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  width: 100%;
  margin-bottom: 5rem;

  @include media-tablet-sm {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 50rem;
  width: 100%;

  li {
    max-width: fit-content;
  }

  a {
    font-weight: 500;
    font-size: 16px;
  }

  @include media-laptop {
    max-width: 350px;
  }

  @include media-tablet-sm {
    flex-direction: column;
    align-items: center;
  }
}

.footer__ad {
  p {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
  }

  a {
    font-weight: 300;
    font-size: 14px;
    color: $color-white-alpha;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;

  @include media-tablet-sm {
    flex-direction: column;
  }
}

.footer__copy {
  font-weight: 300;
  font-size: 12px;
}

.footer__devby {
  display: flex;
  align-items: center;

  img {
    max-width: 73px;
    min-width: 73px;
    margin-right: 10px;
  }

  p {
    font-weight: 300;
    font-size: 12px;
  }
}
