.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  padding-top: 3rem;
}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__menu {
  margin-right: 5rem;

  a {
    font-size: 12px;
  }
}

.header__menu-list {
  display: flex;

  li:not(:last-child) {
    margin-right: 5rem;
  }
}
