.news-item {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 2rem;

  border-radius: 2px;

  &--secondary {
    box-shadow: 0px 7px 32px -2px rgba(15, 26, 43, 0.14);

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      background: linear-gradient(
        0deg,
        #202020 11.39%,
        rgba(57, 57, 57, 0.36) 119.3%
      );
      mix-blend-mode: multiply;
    }

    .news-item {
      &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 2rem 2rem 2rem;
      }

      &__img {
        position: absolute;
        min-height: 100%;
      }

      &__title {
        color: $color-white-alpha;
      }

      &__hashtag {
        color: $color-white-alpha;
      }
    }
  }

  &__link {
    // position: relative;
    // z-index: 1;
    overflow: hidden;
    margin-bottom: 20px;
    max-height: 36.8rem;
    border-radius: 2px;

    &:hover {
      .news-item__img {
        transform: scale(1.05);
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &__img {
    max-width: 64rem;
    object-fit: cover;

    transition: transform 0.2s ease;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__date {
    display: flex;
    align-items: center;
    color: $color-gray-alpha;
    font-size: 12px;
    font-weight: 300;

    &::after {
      display: inline-block;
      content: '';
      width: 1px;
      height: 10px;
      background: $color-gray-alpha;
      margin: 0 5px;
    }
  }

  &__hashtag {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-black-alpha;
    font-size: 11px;
    z-index: 1;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    flex-grow: 1;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 123%;
    letter-spacing: -0.01em;
    color: $color-black-beta;
    margin-bottom: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    color: $color-gray-alpha;
    line-height: 125%;
    font-weight: 300;
  }
}
