.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;

  @include media-tablet-sm {
    gap: 12px;
  }

  @include media-phone-sm {
    max-width: 230px;
    width: 100%;
  }

  li {
    max-width: 48px;
  }

  img {
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}
